body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

.brushes{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

span{
    font-weight: bold;
    color: blue;
}

.img {
    border-radius: 50%;
  }

.frames{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

table {
    text-align: center;
    border-collapse: collapse;
}

#colonne1, #colonne2, #colonne3{
    background-color: black;
    color: white;
    border-color: white;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

#ligne1{
    background-color: mediumspringgreen;
}

#ligne2{
    background-color: lightcoral;
}

#ligne3{
    background-color: skyblue;
}

p.bonjour{
    border: 1px solid blue;
    text-align: center;
    width: 200px;
    padding: 8px;
}

p.bonjour::before{
    content: "<";
    border: 2px solid red;
    padding: 2px;
    margin: 20px;
}

p.bonjour::after{
    content: ">";
    border: 2px solid red;
    padding: 2px;
    margin: 20px;
}