html, body {
    margin: auto;
    padding: auto;
    color: black;
    }

header{
background-color: rgb(196, 196, 196);
position: fixed;
width: 100%;
padding: 10px;
height: 125px;
z-index: 0;
}

img{
    width: 100px;
    margin: 5px;
    padding-top: 10px;
}

#nav{
    text-transform: uppercase;
    text-align: center;
    word-spacing: 100px;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    top: -85px
}

.nav{
    display: inline-block;
    word-spacing: 2px;
}

section{
    padding-top: 150px;
}

h1{
    text-align: center;
    padding-top: 15px;
    letter-spacing: 0.5px;
    font-size: 30px;
}

h3{
    padding-top: 80px;
    padding-left: 685px;
    letter-spacing: 0.5px;
    font-size: 25px;
} 

#tondeuse{
    width: 500px;
}

#caractéristiques{
    padding-top: 10px;
    padding-left: 700px;
    font-size: 20px;
}
